site_name: TFx Docs
site_url: https://tfx.rocks
site_author: Tom Straub
site_description: "A standalone CLI for Terraform Cloud and Terraform Enterprise."
repo_url: "https://github.com/straubt1/tfx"
edit_uri: edit/main/site/docs
copyright: "TFx is licensed under the <a href='https://github.com/straubt1/tfx/blob/main/LICENSE'>MIT license</a>"

theme:
  name: material
  favicon: img/favicon.ico
  # logo: img/favicon.ico
  # custom_dir: 'cinder'
  # colorscheme: github
  # highlightjs: true
  # hljs_languages:
  font:
    text: Roboto
  #   - hcl
  palette:
    # primary: deep purple
    # # Palette toggle for automatic mode
    # - media: "(prefers-color-scheme)"
    #   toggle:
    #     icon: material/brightness-auto
    #     name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      # primary: blue grey
      scheme: default 
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to system preference

markdown_extensions:
  - admonition
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format


nav:
  - Home: index.md
  - Commands: 
    - Workspace: 
      - General: commands/workspace.md
      - Variables: commands/workspace_variable.md
      - Runs: commands/workspace_run.md
      - Lock: commands/workspace_lock.md
      - Configuration Versions: commands/workspace_configurationversion.md
      - State Versions: commands/workspace_stateversion.md
    - Private Registry:
      - Modules: commands/registry_module.md
      - Providers: commands/registry_provider.md
    - Releases: commands/release.md
    - Admin:
      - GPG Keys: commands/admin_gpg.md
      - Terraform Versions: commands/admin_terraformversion.md
  - About:
    - Why TFx?: about/purpose.md
    - Release Notes: about/release_notes.md
    - Contributing: about/contributing.md
    - Style Guide: about/style_guide.md
